html, body, app {
    font-family: var(--fontFamily-light);
    height: 100%;
    margin: 0!important;
}

#root {
    height: 100%!important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}
